
<section>
      <div class="form-container">
          <h1>Log in</h1>
  
    <%= form_tag sessions_path do |form| %>
    <form>
      <div class="control">
        <label for="name">Name</label>
        <%= text_field_tag :email %>
      </div>
       <div class="control">
        <label for="psw">Password</label>
        <%= password_field_tag :password %>
      </div>
        <p id="alert"><%= alert %></p>
      <div class="control">
        <%= submit_tag "Login" %>
      </div>
      </form>
    <% end %>
      </div>
</section>